body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 4px;
}

#Section_1 {
    width: 400px;
    padding: 40px;
    background: #3e93a1; /* Fallback */
    background: rgba(62, 147, 161, 0.5); /* Modern browsers */
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
