html {
  background: black;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
  /*color: #212529;*/
}

header {
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: green;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

footer {
  text-align: center;
  padding: 1rem;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
}

section h2 {
  margin-top: 1.5rem;
  color: white;
}

a {
  color: green;
}
